<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jsb.util.SitcMapper">


	<resultMap id="result_ResultMap_SitcModel" type="com.jsb.util.SitcModel">
		<id property="id" column="ID" />
		<result property="sitc4" column="SITC4" />
		<result property="newyear" column="NEWYEAR" />
		<result property="nrca" column="NRCA" />
		<result property="nrcaq" column="NRCAQ" />
		<result property="countryid" column="COUNTRYID" />
	</resultMap>






	<select id="getListByModel" resultMap="result_ResultMap_SitcModel">
		<!-- SELECT  NRCAQ,COUNTRYID from ${tableName} WHERE nrca =1  GROUP BY countryid -->
	SELECT  DISTINCT countryid,nrcaq from ${tableName} 

	</select>
	
	
	<select id="getCount" resultType="integer">
	
SELECT COUNT(1) from (SELECT sitc4 from ${tableName} WHERE countryid = #{ctry1} and nrca = 1) A JOIN

(SELECT sitc4 from ${tableName} WHERE countryid = #{ctry2} and nrca = 1) B ON 
A.sitc4 = B.sitc4
	</select>
</mapper>